
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
:root {
    --headine-font: "Rock Salt";
    --body-font: Roboto, Helvetica, sans-serif;
}

img {
    width: 100%;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #22223B;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a {
    text-align: center;
    color: ;
    text-decoration: none;
    padding: 35px;
}

.logo {
    padding: 5px;
    justify-self: center;
    align-self: center;
}
nav a:hover {
    background-color:#396E94 ;
    color:#d9d3ec ;
}

nav {
    display: flex;
    justify-content: space-around;
}
body {
    background-color: #F2E9E4;
    font-family: var(--body-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

main section {

    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 50px;
    margin-top: 100px;
}

.mssg {
    grid-column: 1/6;
    grid-row: 1/6;
    background-color: #4A4E69;
    padding: 35px;
    height: 500px;
    box-shadow: 5px 5px 10px #6f7364;
}

.home-img {
    grid-column: 6/11;
    grid-row: 1/4;
    width: 100%;
    height: 400px;
    box-shadow: 5px 5px 10px #6f7364;
}
.home-img1 {
    grid-column: 6/8;
    grid-row: 4/6;
    width: 100%;
    height: 100px;
    box-shadow: 5px 5px 10px #6f7364;

}
.home-img2 {
    grid-column: 8/10;
    grid-row: 4/6;
    width: 100%;
    height: 100px;
    box-shadow: 5px 5px 10px #999998;
}
.home-img3 {
    grid-column: 10/13;
    grid-row: 4/6;
    width: 100%;
    height: 100px;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    grid-column: 1/6;
    grid-row: 6/12;
    background-color: #9A8C98;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
}

.home-img4 {
    grid-column: 6/11;
    grid-row: 6/12;
}



.social img {
    max-width: 60px;
}

footer p {
    color:#d9d3ec ;
    font-size: 1.2em;
}
 
footer {
    background-color:#22223B ;
    color: ;
    margin-top: 200px;
    padding: 35px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color:#d9d3ec ;
    text-decoration: none;
}
footer a:hover {
    color: ;
}

footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}





























/* Responsive page */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}